profiles {
standard {
process {
executor = 'local'
cpus = 2
memory = '4 GB'
}
}
conda {
process {
executor = 'local'
withName: fastqc_raw { conda = 'envs/environment.yml' }
withName: trimmomatic { conda = 'envs/environment.yml' }
withName: fastqc_trimmed { conda = 'envs/environment.yml' }
withName: align { conda = 'envs/environment.yml' }
withName: flagstat { conda = 'envs/environment.yml' }
withName: featurecounts { conda = 'envs/environment.yml' }
withName: multiqc { conda = 'envs/environment.yml' }
withName: deseq2 { conda = 'envs/environment.yml' }
}
}
}


params.default_profile = 'standard'
