/*
 * Docker profile
 */

profiles {

    docker {

        process.executor = 'local'
        docker.enabled   = true

        docker.runOptions = '-u $(id -u):$(id -g)'

        process.container = 'bulk-rnaseq:latest'
    }
}

/*
 * Docker cleanup & caching
 */
docker {
    enabled       = true
    temp          = 'auto'
    fixOwnership  = true
}
