/*
 * Singularity profile
 */

profiles {

    singularity {

        process.executor = 'local'
        singularity.enabled = true

        singularity.autoMounts = true
        singularity.cacheDir  = "$HOME/.singularity/cache"

        process.container = 'docker://bulk-rnaseq:latest'
    }
}

/*
 * Singularity runtime options
 */
singularity {
    enabled     = true
    autoMounts = true
    envWhitelist = 'PATH,LD_LIBRARY_PATH'
}
